---

import Typography from "../Typography.astro";
import Proyecto from "../../types/Proyecto";
import TecnologyPainting from "../TecnologyPainting.astro";

const proyectos:Array<Proyecto> = [
    {
        nombre: "Lisenrigs",
        intro: "Aplicación para la gestión de máquinas de minería de criptomonedas",
        preview: "",
        web: "",
        repositorio: "",
        descripcion: `
            <p>Inicié este proyecto junto con un compañero de carrera. Tras llevar un par de años jugueteando con el tradding de cryptomonedas y la minería de las mismas, decidimos montar una aplicación para la gestión de los rigs.</p>
            <p>Primero, desarrollamos un sistema operativo basado en Linux que ejecutaba todo el software necesario en las máquinas de minería para realizar su función. Dicho S.O, actualizaba el software y minaba de forma automática. Lo único que había que hacer era cargar la imagen del sistema en un pendrive y crear un archivo con el token de usuario</p>
            <p>Con el sistema funcionando y las máquinas minando, desarrollamos la aplicación web que se encargaba de mandar las señales a las máquinas, configurarlas, comprobar estados, reiniciarlas, etc. Todo esto se realizó mediante Laravel. El panel de control se desarrolló mediante Blade y para que las máquinas se conectasen al servicio, expusimos un API REST</p>
            <p>Una vez teníamos todo desarrollado y funcionando de forma privada, decidimos abrir una beta cerrada entre los integrantes de nuestro grupo de Telegram</p>
            <p>Poco después, el valor de las cryptomonedas comenzó a caer en picado, haciendo que la minería ya no fuera rentable. En 2020 llegamos a la conclusión de que no merecía la pena seguir invirtiendo tiempo en el proyecto y decidimos descontinuarlo</p>
        `,
        tecnologiasIntro: ["laravel", "linux", "api-rest"],
        tecnologias: [
            "laravel",
            "php",
            "mysql",
            "html5",
            "css3",
            "js",
            "jquery",
            "android",
            "git",
            "linux",
            "api-rest",
            "bootstrap"
        ]
    },
    {
        nombre: "Banco de la Piel",
        intro: "Punto de encuentro virtual y físico para curtidores y artesanos de la piel",
        preview: "",
        web: "",
        repositorio: "",
        descripcion: "",
        tecnologiasIntro: ["laravel", "php", "mysql"],
        tecnologias: []
    },
]
---


<section class="px-32">
    <Typography variant="h2" >Mis <span class="font-bold text-color3">proyectos</span></Typography>

    <section class="flex flex-row flex-wrap gap-2">
        {proyectos.map((proyecto) => (
            <div data-modal-target=`modal-${proyecto.nombre}` data-modal-toggle=`modal-${proyecto.nombre}` class="px-8 py-4 max-w-sm cursor-pointer bg-color1 rounded-lg shadow-color2 shadow-sm">
                <Typography variant="p" class="text-4xl font-bold mb-3 text-color3">{proyecto.nombre}</Typography>
                <Typography variant="p" class="mb-3">{proyecto.intro}</Typography>
                <div class="flex flex-row flex-wrap gap-2">
                    <TecnologyPainting tecnologiasUsadas={proyecto.tecnologiasIntro} />
                </div>
            </div>

            <!-- Main modal -->
            <div id=`modal-${proyecto.nombre}` tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-color2 rounded-lg shadow">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                            <Typography variant="p" class="text-3xl">
                                {proyecto.nombre}
                            </Typography>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide=`modal-${proyecto.nombre}`>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-4">
                            <Typography variant="p" class="" set:html={proyecto.descripcion}>
                            </Typography>

                            <TecnologyPainting tecnologiasUsadas={proyecto.tecnologias} />
                        </div>
                    </div>
                </div>
            </div>
        ))}
    </section>
</section>