---

import Typography from "../Typography.astro";
import { type Proyecto } from "../../types/Proyecto";
import TecnologyPainting from "../TecnologyPainting.astro";

const proyectos:Array<Proyecto> = [
    {
        id: "bancodelapiel",
        nombre: "Banco de la Piel",
        intro: "Punto de encuentro virtual y físico para curtidores y artesanos de la piel",
        preview: "",
        web: "https://www.bancodelapiel.com",
        repositorio: [],
        descripcion: `<img class="mx-auto" loading="lazy" src="/images/logo-banco-de-la-piel.webp" alt="Logo de Banco de la Piel"/><p>Fundé esta empresa junto con un comerciante de pieles de toda la vida.</p>
        <p>La idea era crear un <span class="font-bold text-color3">punto de encuentro entre curtidores y artesanos de la piel</span>. Los curtidores podían subir sus pieles a la plataforma y los artesanos/fabricantes podían ampliar sus proveedores de materias primas.</p>
        <p>Además de Banco de la Piel y con tal de aprovechar el espacio físico del que disponíamos, <span class="font-bold text-color3">creamos un showroom híbrido</span> que se podía adaptar para dar charlas y realizar reuniones.</p>
        <img src="/images/show-room-banco-de-la-piel.webp" loading="lazy" class="mx-auto"  alt="Fotografía del showroom/sala de reuniones y conferencias de Banco de la Piel"/>
        <p><span class="font-bold text-color3">Fui responsable del desarrollo de la página web y aplicativos internos</span> necesarios para el buen funcionamiento de Banco de la Piel, como por ejemplo, gestión de clientes, mailings, acceso al showroom, reservas de espacios en el centro de negocios, etc.</p>
        <p>En 2018, viendo que el proyecto no evolucionaba según mis expectativas, decidí ceder mis participaciones y abandonarlo para dedicarme a otra cosa.</p>
        <p>A día de hoy, Banco de la Piel sigue funcionando y han ampliado su catálogo de servicios, añadiendo espacios coworking y domiciliación de empresas.</p>
        <img loading="lazy" src="/images/banco-de-la-piel.webp" class="mx-auto"  alt="Imagen de la fachada de Banco de la Piel"/>`,
        tecnologiasIntro: ["laravel", "codeigniter", "php", "mysql"],
        tecnologias: ["laravel", "codeigniter", "php", "mysql", "html5", "css3", "bootstrap", "js", "jquery", "git"]
    },
    {
        id: "lisenrigs",
        nombre: "Lisenrigs",
        intro: "S.O. y aplicación web para la gestión de máquinas de minería de criptomonedas",
        preview: "",
        web: "",
        repositorio: [
            {
                textlink: "Repositorio del S.O.",
                url: "https://bitbucket.org/amjsoler/lisenrigssistema/src/master"
            },
            {
                textlink: "Repositorio de la aplicación web",
                url: "https://bitbucket.org/amjsoler/lisenrigs/src/master"
            },
        ],
        descripcion: `
            <p>Inicié este proyecto junto con un compañero de carrera. Tras llevar un par de años jugueteando con el trading de criptomonedas y la minería de las mismas, <span class="font-bold text-color3">decidimos montar una aplicación para la gestión de los rigs</span> (máquinas de minería).</p>
            <p><span class="font-bold text-color3">Desarrollamos un sistema operativo basado en Linux</span> que ejecutaba todo el software necesario en los rigs para realizar su función. Dicho S.O. actualizaba las herramientas de minado de forma automática, convirtiéndose así en sistemas autónomos.</p>
            <p>Lo único que había que hacer era cargar la imagen del sistema en un pendrive, crear un archivo con el token de usuario y conectarlo al rig.</p>
            <p>Con el sistema funcionando y las máquinas minando, <span class="font-bold text-color3">desarrollamos la aplicación web que se encargaba de mandar las señales a las máquinas, configurarlas, comprobar estados, reiniciarlas, etc.</span> Esta aplicación se realizó mediante Laravel. El panel de control se implementó con el motor de plantillas Blade y para que las máquinas estuvieran conectadas, expusimos un API REST.</p>
            <p>Una vez teníamos todo desarrollado y funcionando de forma privada, decidimos <span class="font-bold text-color3">iniciar una beta cerrada</span> entre los integrantes de nuestro grupo de Telegram.</p>
            <p>Poco después, el valor de las criptomonedas comenzó a caer en picado, haciendo que la minería ya no fuera rentable. En 2020 llegamos a la conclusión de que no merecía la pena seguir invirtiendo tiempo en el proyecto y decidimos descontinuarlo.</p>
        `,
        tecnologiasIntro: ["laravel", "linux", "api-rest"],
        tecnologias: [
            "laravel",
            "php",
            "mysql",
            "html5",
            "css3",
            "js",
            "jquery",
            "android",
            "git",
            "linux",
            "api-rest",
            "bootstrap"
        ]
    },
    {
        id: "comprobadordeloterianacional",
        nombre: "Comprobador de lotería nacional",
        intro: "Wallet de boletos de lotería nacional y comprobador de premios",
        preview: "",
        web: "https://app.comprobadordeloterianacional.com",
        repositorio: [
            {
                textlink: "Repositorio del backend (API REST desarrollada en Laravel)",
                url: "https://github.com/amjsoler/comprobadordeloterianacional"
            },
            {
                textlink: "Repositorio del frontend (SPA desarrollada en Vue.js)",
                url: "https://github.com/amjsoler/comprobadordeloterianacionalcliente"
            },
        ],
        descripcion: `<p>Este proyecto se desarrolla con la idea de ofrecer una herramienta para agrupar y digitalizar los décimos de lotería</p>
        <p>Es tan simple como dar de alta cada décimo en tu wallet y la app te avisa de si tus boletos están premiados o no una vez se haya celebrado el sorteo.</p>
        <p>Además, se incorpora un comprobador de premios integrado para poder ver si un boleto (aunque no esté dado de alta en la app) está premiado.</p>`,
        tecnologiasIntro: ["laravel", "vue", "php", "tailwind", "api-rest"],
        tecnologias: ["laravel", "vue", "php", "mysql", "html5", "css3", "tailwind", "js", "git", "api-rest"]
    },
    {
        id: "midietaia",
        nombre: "MiDietaIA",
        intro: "Aplicación web para la creación personalizada de dietas alimenticias. Las dietas se generan de forma automática mediante IA",
        preview: "",
        web: "https://app.midietaia.com",
        repositorio: [
            {
                textlink: "Aplicación de cliente (SPA) desarrollada en Vue.js",
                url: "https://github.com/amjsoler/dietasaicliente"
            },
            {
                textlink: "Backend desarrollado en Laravel que sirve una API REST",
                url: "https://github.com/amjsoler/dietasai"
            },
        ],
        descripcion: `<p>Este proyecto nace con el boom de la IA y se desarrolla con la intención de explorar los límites y capacidades de la inteligencia artificial.</p>
        <p>Se ha usado el modelo GPT3-turbo de OpenAI como base para el proyecto</p>
        <p>La idea es presentar al usuario un formulario con una serie de parámetros que la IA debe respetar (alergias, restricciones alimentarias, etc). Una vez haya respondido, el usuario obtendrá una dieta semanal, totalmente personalizada y adaptada a sus necesidades</p>`,
        tecnologiasIntro: ["laravel", "vue", "php", "tailwind", "api-rest"],
        tecnologias: ["laravel", "vue", "php", "mysql", "html5", "css3", "tailwind", "js", "git", "api-rest"]
    },
    {
        id: "sardineto",
        nombre: "Sardineto",
        intro: "Aplicación web para la gestión de gimnasios de crossfit. Usuarios, suscripciones, reserva de clases, etc",
        preview: "",
        web: "",
        repositorio: [
            {
                textlink: "Repositorio de la primera versión del proyecto",
                url: "https://bitbucket.org/amjsoler/sardineto/src/develop/"
            },
            {
                textlink: "Repositorio de la segunda versión del proyecto (API REST)",
                url: "https://github.com/amjsoler/sardineto"
            },
            {
                textlink: "Repositorio de la aplicación web cliente (SPA)",
                url: "https://github.com/amjsoler/sardinetocliente"
            }
        ],
        descripcion: `<p>Este proyecto nace de la idea de mejorar la experiencia de usuario de una app de gestión de gimnasios existente que me veía obligado a usar casi a diario.</p>
        <p>Estuve una temporada yendo a un gimnasio de crossfit en el cual se hacía uso de una app bastante antigua, desfasada y con una experiencia de usuario muy deficiente.</p>
        <p>Por aquel entonces iba al gimnasio con un diseñador gráfico. Un día, tras escuchar algunos comentarios negativos por parte de los entrenadores acerca de la aplicación, decidimos aliarnos y ver qué salía de ahí.</p>
        <p>Hoy por hoy, el proyecto ha pasado por varias fases. Se empezó desarrollando como monolito (Laravel + Blade) y posteriormente se migró a dos proyectos separados, Laravel sirviendo un API REST y un frontal SPA desarrollado en Vue.js.</p>
        <p>El proyecto todavía está en desarrollo. La parte de backend está implementada y testeada. Falta por finalizar el diseño de las pantallas y maquetar el frontal, cuya funcionalidad también está terminada</p>
<p>Se pueden consultar los repositorios de los proyectos (tanto la primera versión como la segunda) a continuación:</p>`,
        tecnologiasIntro: ["laravel", "vue", "php", "tailwind", "api-rest"],
        tecnologias: ["laravel", "vue", "php", "mysql", "html5", "css3", "tailwind", "js", "git", "api-rest"]
    },
    {
        id: "suficienteverde",
        nombre: "SuficienteVerde",
        intro: "Blog acerca de la autosuficiencia y la sostenibilidad totalmente autónomo y gobernado por IA",
        preview: "",
        web: "https://www.suficienteverde.com",
        repositorio: [
            {
                textlink: "Repositorio del proyecto desarrollado en Astro.js",
                url: "https://github.com/amjsoler/suficienteverde"
            },
        ],
        descripcion: `<p>La idea de este proyecto, es probar si un blog totalmente autónomo y generado mediante IA es viable a la hora de generar visitas y tráfico</p>
        <p>Se ha desarrollado mediante Astro.js y ya está disponible con los primeros posts.</p>`,
        tecnologiasIntro: ["astro", "tailwind"],
        tecnologias: ["astro", "html5", "css3", "tailwind", "js", "git"]
    },
]
---


<section class="">
    <Typography variant="h2" >Mis <span class="font-bold text-color3">proyectos</span></Typography>

    <section class="flex flex-row flex-wrap gap-8">
        {proyectos.map((proyecto) => (
            <div data-modal-target=`modal-${proyecto.id}` data-modal-toggle=`modal-${proyecto.id}` class="px-8 py-4 max-w-sm cursor-pointer bg-color1 rounded-lg shadow-color2 shadow-md">
                <Typography variant="p" class="text-3xl sm:text-4xl font-bold mb-3 text-color3">{proyecto.nombre}</Typography>
                <Typography variant="p" class="mb-3">{proyecto.intro}</Typography>
                <div class="flex flex-row flex-wrap gap-2">
                    <TecnologyPainting tecnologiasUsadas={proyecto.tecnologiasIntro} />
                </div>
            </div>

            <!-- Main modal -->
            <div id=`modal-${proyecto.id}` tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-color2 rounded-lg shadow">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                            <Typography variant="p" class="text-3xl">
                                {proyecto.nombre}
                            </Typography>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide=`modal-${proyecto.id}`>
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <div class="p-4 md:p-5 space-y-8">
                            <Typography variant="p" class="" set:html={proyecto.descripcion}>
                            </Typography>

                            {proyecto.web && (
                                <p class="flex justify-center"><a href={proyecto.web} target="_blank" class="px-6 py-2 rounded-lg bg-color3 text-color4 font-bold">
                                    Visitar {proyecto.nombre}
                                </a></p>
                            )}

                            {proyecto && proyecto.repositorio && proyecto.repositorio.length > 0 && (
                                <ul class="space-y-4">
                                    {proyecto.repositorio.map((repo) => (
                                        <li>
                                            <a href={repo.url} target="_blank" class="font-bold text-color3 text-xl">
                                                {repo.textlink}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            )}
                            <TecnologyPainting tecnologiasUsadas={proyecto.tecnologias} />
                        </div>
                    </div>
                </div>
            </div>
        ))}
    </section>
</section>